<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LibrArte App</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/carrito.css}"/>

    <!-- FontAwesome -->
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}" rel="stylesheet"/>

</head>
<body>

<header>
<nav class="navbar navbar-expand-lg navbar-light backgroundNav">
    <div class="container-fluid d-flex justify-content-between">
        <div>
            <a href="home.html" class="btn btn-light border-0" style="background-color: transparent;">
                <img th:src="${imagenlogo.imagenBase64}" alt="Imagen"
                     style="max-width: 100px; max-height: 100px;" class="img-lg">
            </a>
            <a th:href="home" class="btn btn-primary btn-custom-primary btn-lg mx-2">
                <i class="fas fa-home"></i>
            </a>
            <a th:href="home" class="btn btn-primary btn-custom-primary btn-lg mx-2">
                <i class="fas fa-heart"></i>
            </a>
            <a th:href="carrito" class="btn btn-primary btn-custom-primary btn-lg mx-2">
                <i class="fas fa-shopping-cart"></i>
            </a>
            <!--<a th:href="@{#}" class="btn btn-primary btn-custom-primary btn-lg mx-2">
              <i class="fas fa-bell"></i>-->
            </a>
            <a th:href="home" class="btn btn-primary btn-custom-primary btn-lg mx-2">
                <i class="fas fa-user"></i>
            </a>
        </div>
    </div>
</nav>
</header>

<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>

<!-- Boostrap core js -->
<main class="container mt-5">
    <h2>Mi humilde carrito</h2>

            <!-- Tabla de carrito de compras oculta por defecto -->
        <div id="carritoTable">
            <table class="table table-striped">
                <!-- Encabezados de la tabla -->
                <thead>
                <tr>
                    <th>Cantidad</th>
                    <th>Título</th>
                    <th>Categoría</th>
                    <th>Precio</th>
                    <th></th>
                </tr>
                </thead>
                <!-- Cuerpo de la tabla -->
                <tbody th:each="libro : ${libros}">
                <tr th:id="${libro.ID}">
                    <td>1</td>
                    <!--<td>1</td>-->
                    <td th:text="${libro.nombre}"></td>
                    <td th:text="${libro.categoria.nombre}"></td>
                    <td th:text="'$ ' + ${libro.precio}"></td>
                    <td>
                        <a  th:href="@{'/eliminarLibroDeCarrito/' + ${libro.ID}}" type="button" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            <!-- Botón para proceder al pago -->
        </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-dark">Pagar</button>
    </div>
</main>

</body>
</html>