<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restablecer contraseña</title>
    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/loginAndRegister.css}"/>
</head>
<body>

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img th:src="${imagenlogo.getImagenBase64()}"
                                         style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">Restablecer contraseña</h4>
                                </div>

                                <form th:action="@{/cambiar-contraseña}" method="POST" th:object="${datosRestablecer}">

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="email">Correo</label>
                                        <input th:field="*{email}" type="email" id="email" class="form-control" />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="nuevaPassword">Nueva contraseña</label>
                                        <input th:field="*{nuevapassword}" type="password" id="nuevaPassword" class="form-control" />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="repetirPassword">Repetir nueva contraseña</label>
                                        <input th:field="*{repetirNuevaPassword}" type="password" id="repetirPassword" class="form-control" />
                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="btn btn-primary btn-block btn-lg customColor buttonHover" type="Submit">Confirmar</button>
                                        <p th:if="${error != null}" class="alert alert-danger" th:text="'Error: ' + ${error}"></p>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-0 me-2">No tienes una cuenta?</p>
                                        <a class="btn btn-outline-danger buttonHover secondaryButtom" id="ir-a-registrarme" href="nuevo-usuario">Crear cuenta</a>
                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center customColor">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">Encuentra el libro que buscas</h4>
                                <p class="small mb-0">En nuestra aplicación de libros,
                                    te ofrecemos una experiencia única y sencilla para encontrar
                                    tus próximas lecturas favoritas. Explora nuestro catálogo de
                                    libros de todos los géneros y descubre historias que te emocionarán.
                                    Desde los clásicos que amas hasta las últimas novedades, estamos
                                    aquí para ayudarte a encontrar el libro perfecto. ¡Únete a nosotros
                                    y sumérgete en el mundo de la lectura en línea!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>