<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>LibrArte App</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

  <!-- FontAwesome -->
  <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}" rel="stylesheet"/>

</head>

<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light backgroundNav">
    <div class="container-fluid d-flex justify-content-between">
      <div>
        <a th:href="@{#}" class="btn btn-light border-0" style="background-color: transparent;">
          <img th:src="@{/imagenes/Conversations on Christ 3-fotor-bg-remover-2023092615466.png}" alt="Imagen"
               style="max-width: 100px; max-height: 100px;" class="img-lg">
        </a>
        <a th:href="@{#}" class="btn btn-primary btn-custom-primary btn-lg mx-2">
          <i class="fas fa-home"></i>
        </a>
        <a th:href="@{#}" class="btn btn-primary btn-custom-primary btn-lg mx-2">
          <i class="fas fa-heart"></i>
        </a>
        <a th:href="@{#}" class="btn btn-primary btn-custom-primary btn-lg mx-2">
          <i class="fas fa-shopping-cart"></i>
        </a>
        <a th:href="@{#}" class="btn btn-primary btn-custom-primary btn-lg mx-2">
          <i class="fas fa-bell"></i>
        </a>
        <a th:href="@{#}" class="btn btn-primary btn-custom-primary btn-lg mx-2">
          <i class="fas fa-user"></i>
        </a>
      </div>
      <div class="d-flex align-items-start">
        <a th:href="@{#}" class="btn btn-primary btn-custom-primary mt-1">
          <i class="fas fa-filter"></i>
        </a>
        <form class="d-flex ml-2" role="search" action="#">
          <input class="form-control me-2 ms-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-custom-secondary" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<!-- Seccion "Resultado de busqueda" -->
<div class="container mt-5">
  <h2 class="text-center">Resultados</h2>
  <hr class="mx-auto" style="width: 50%; border-top: 2px solid #333;">
  <div class="row">

    <div class="container mt-4">
      <div class="row">
        <table>
          <thead>
          <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Editorial</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="libro : ${librosResultado}">
            <td th:text="${libro.nombre}"></td>
            <td th:text="${libro.precio}"></td>
            <td th:text="${libro.resenia}"></td>
          </tr>
          </tbody>
        </table>
        <!-- Section Medios de Pago -->
        <div class="container mt-5">
          <h2 class="text-center">Medios de Pago Aceptados</h2>
          <hr class="mx-auto" style="width: 50%; border-top: 2px solid #333;">
          <ul class="list-group list-group-horizontal justify-content-center">
            <li class="list-group-item border-0">
              <img th:src="@{/imagenes/logo-mercado-pago-256.png}" alt="Visa" style="max-width: 100px;">
            </li>
            <li class="list-group-item border-0">
              <img th:src="@{/imagenes/mastercard-logo.png}" alt="Mastercard" style="max-width: 100px;">
            </li>
            <li class="list-group-item border-0">
              <img th:src="@{/imagenes/American_Express_Logo.png}" alt="American Express" style="max-width: 100px;">
            </li>
            <li class="list-group-item border-0">
              <img th:src="@{/imagenes/Visa_Inc._logo.png}" alt="Visa" style="max-width: 100px;">
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--Footer con links a secciones de interés-->
    <footer class="backgroundNav">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <a href="#">
              <img th:src="@{/imagenes/Conversations on Christ 3-fotor-bg-remover-2023092615466.png}" alt="Imagen"
                   style="max-width: 150px;" class="img-fluid">
            </a>
          </div>
          <div class="col-md-6 text-end">
            <a href="#" class="text-dark text-decoration-none mx-2">Mi perfil</a>
            <a href="#" class="text-dark text-decoration-none mx-2">Mis libros</a>
            <a href="#" class="text-dark text-decoration-none mx-2">¿Cómo comprar?</a>
            <a href="#" class="text-dark text-decoration-none mx-2">Carrito de compras</a>
          </div>
        </div>
      </div>
    </footer>

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>